<nav class="navbar">    
          
  <div class="container-fluid">
    <h1>MyBooks</h1>

    <div class="menu">
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" *ngIf="!this.userService.logueado; else logueado">
        
            <a class="dropdown-item fa fa-home" href="#" routerLink="/home"><font face="Arial Narrow">Home</font></a>
            <a class="dropdown-item fa fa-file-text" href="#" routerLink="/register"><font face="Arial Narrow">Register</font></a>
            <a class="dropdown-item fa fa-user" href="#" routerLink="/login"><font face="Arial Narrow">Login</font></a>

         </div>

         <ng-template #logueado>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                  <a class="dropdown-item fa fa-book" href="#" routerLink="/books"><font face="Arial Narrow">Books</font></a>
                  <a class="dropdown-item fa fa-book" href="#" routerLink="/addBook"><font face="Arial Narrow">AddBook</font></a>
                  <a class="dropdown-item fa fa-book" href="#" routerLink="/updateBook"><font face="Arial Narrow">UpdateBook</font></a>
                  <a class="dropdown-item fa fa-user" href="#" routerLink="/profile"><font face="Arial Narrow">Profile</font></a>
                  
            </div>
        </ng-template>
        </li>
      </div>
    </div>
  </div>
</nav>  